.myDiv {
    display: none;
}

.tableWidth {
    min-width:100%; 
    max-width:800px;
    float: left;

}

.column3 {
    float: right;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
    margin-right: 100px;
    
  }

.card-img {
    height: 400px;
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px) ;
    border-top-right-radius: calc(.25rem - 1px);
    position: centre;
}
.con-1{
    float: right;
    margin: 4px;
    display: inline;
    vertical-align: top;
    /* position: relative; */
    /* left: 500px; */
}

.con-2{
    position: relative;
    float:left;
    /* margin-left: 100px; */
    /* margin: auto; */
  
  }

.margin {
    padding:10px;
    margin: 3px;
}